p {
    color:RED;
    background-color: yellow;
    text-align: center;
    
}
.p{
    color: blue;
    
    background-color:lightcoral;
}
#jk{
    font-size: large;
    
}
div{
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 50px;
    border: 10px solid black;
    margin: 25px;
}

    